body {
    font-family: 'Saira Semi Condensed', sans-serif;
    background-color: black;
    color: white;
}

.App-header {
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.panels {
    display: grid;
    margin: 0 5% 0 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.panel {
    border: 1px white dotted;
}

.panel header {
    font-weight: bold;
    font-size: 1em;
    margin: 1em;
    text-transform: uppercase;
}

.panel table {
    width: 100%;
    font-size: 1.2em;
    margin: 1em;
}

.panel table thead {
    font-weight: bold;
}

.trade-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}

.trade-form label {
    display: block;
    font-weight: bold;
}

.trade-form input {
    padding: .5em;
    font-size: 1em;
}

.trade-form select {
    padding: .5em;
    font-size: 1em;
    text-transform: capitalize;
}

.trade-form div {
    margin: 1em;
}

.currency {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.currency-label {
    font-size: 1.5em;
    margin-left: 1em;
    text-transform: capitalize;
}

.currency-value {
    font-size: 1.5em;
    margin-left: 2em;
}

.trades {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 250px;
}
